body {
    background: #000;
  }
  
  .header-glitch{
    color:#5dea62;
    font-family: Monaco, monospace;
    font-size: 48px;
    text-align: center;
    animation: 120ms infinite normal glitch;
 
   
}
  .anim-glitch {
    color: #5dea62;
    font-family: Monaco, monospace;
    font-size: 24px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 0;

  }

  .span-glitch{
    animation: 120ms infinite normal glitch;
  }
  a{
    color: #5dea62;
    text-decoration:none;
    border: 1px solid #5dea62;
    padding:10px;
  }

  
  
  span {
    animation: 1.5s infinite normal loaded;
  }
  
  ::-moz-selection {
    background: #7021d2;
    color: #fff;
  }
  
  ::selection {
    background: #7021d2;
    color: #fff;
  }
  
  @keyframes glitch {
    0% {
      opacity: 0;
      left: 0;
    }
    40%,
    80% {
      opacity: 1;
      left: -2px;
    }
  }
  
  @keyframes loaded {
    0% {
      opacity: 0;
      left: 0;
    }
    40% {
      opacity: 0;
      left: -2px;
    }
    80% {
      opacity: 1;
      left: -2px;
    }
  }
  