
.header{
    background: rgb(48, 51, 61);
    height: 120px;
}
.header-text{
color: rgb(255, 255, 255);
font-family: Heebo-Regular;
font-size: 24px;
font-weight: normal;
height: 35px;
width: 288px;
}
.header-text_sub{
    color: rgb(255, 255, 255);
    font-family: Heebo-Regular;
    font-size: 16px;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
    width: 181px;
    }
.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
  
.alert-display{
    display: flex;
}
.navbar  li{
    color: rgb(255, 255, 255);
    font-family: Heebo-Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding:30px;
}
.navbar li a{
      text-decoration: none;
      color: whitesmoke;
  }

.logo{
    height: 90px;
    width: 90px;
    color:whitesmoke;
    display: flex;
    border: 2px solid black;
}


.nav-button{
color: rgb(255, 255, 255);
font-family: Heebo-Medium;
font-size: 16px;
font-weight: 500;
height: 22px;
line-height: 22px;
text-align: center;
width: 78px;
}
.alert{
    background: rgb(247, 152, 28);
    border-radius: 0px;
    height: 82px;
    width: 1444px;
    overflow: hidden;
    
  
}


.alert-text{
    color: rgb(53, 64, 82);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
    width: 843px
}

.btn
{
font-family: monospace;
font-size: 16px;
font-weight: normal;
height: 22px;
line-height: 22px;
text-align: center;
width: 77px;
border: none;
color:white;
}

.inline-display{
    border: 2px solid black;
    display: inline;
}

.btn-alert{
background: rgb(255, 255, 255);
border-radius: 0px;
border: 1px solid rgb(13, 60, 200);
height: 36px;
width: 200px;
border: none;
}

.handle-alert{
    display: flex;
    justify-content: space-between;
}
.handle-alert-button{
    display: flex;
    
}

.footer{
background: rgb(48, 51, 61);
border-radius: 0px;
height: 40px;
width: 100%;

}

.main-content{
    background-color: #f7f7f7;
    width: 80%;
    margin: auto;
}

.main-content_header{
    color: rgb(53, 64, 82);
    font-family: monospace;
    font-size: 40px;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    margin-top:10px;
}
.main-content_subheader{
color: rgb(127, 143, 164);
font-family: monospace;
font-size: 16px;
font-weight: normal;
height: 22px;
line-height: 22px;
margin-top:10px;

}

.btn-header{
background: linear-gradient(-180deg, rgb(13, 60, 200) 0%, rgb(4, 41, 181) 100%);
border-radius: 0px;
border: 1px solid rgba(0, 0, 0, 0.1);
height: 36px;
width: 307px;
margin-top:15px;
margin-bottom: 15px;
color: white;
}

.item-flex{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.card-border{
    border-left:10px solid rgb(248, 83, 89);
    margin-top: 20px;
    box-shadow: whitesmoke;
}
.card-border_pink{
    border-left:10px solid rgb(247, 152, 28);
    margin-top: 20px;
    box-shadow: whitesmoke;
}

.slds-box_design{
background: rgb(255, 255, 255);
border-radius: 0px;
box-shadow: 2px 2px 20px 5px rgba(13, 60, 200, 0.05);
height: 90px;
}

.main-content_box_header{
color: rgb(13, 60, 200);
font-family: Heebo-Regular;
font-size: 16px;
font-weight: normal;
height: 22px;
line-height: 22px;
width: 192px;
}
.main-content_box_subheader{
    color: rgb(53, 64, 82);
    font-family: Heebo-Regular;
    font-size: 16px;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
    width: 404px;
    }

.btn-box_update{
background: rgb(71, 158, 235);
border-radius: 0px;
height: 36px;
width: 200px;
}    

.btn-box_continue{
    background: rgb(255, 255, 255);
    border-radius: 0px;
    color:rgb(13, 60, 200);
    height: 36px;
    width: 200px;
    border: 2px solid rgb(13, 60, 200);
    }    
    
.first-box_text{
    color: rgb(248, 83, 89);
font-family: Heebo-Regular;
font-size: 16px;
font-weight: normal;
height: 22px;
line-height: 22px;
width: 163px;
}


.slds-box_border
{
    border: none;
}


.first-box_text_draft{
    color: rgb(247, 152, 28);
    font-family: Heebo-Regular;
    font-size: 16px;
    font-weight: normal;
    height: 24px;
    text-align: right;
    width: 163px;
}
.first-box_text_info{
    color: rgb(53, 64, 82);
font-family: Heebo-Bold;
font-size: 16px;
font-weight: bold;
height: 22px;
line-height: 22px;
}

.footer-nav{
    display: flex;
    justify-content: space-between;
}
.footer-nav li{
    color: rgb(255, 255, 255);
font-family: Heebo-Regular;
font-size: 12px;
font-weight: normal;
height: 18px;
letter-spacing: 0.55px;
} 
.footer-nav li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.footer-text{
color: rgb(255, 255, 255);
font-family: 'Courier New', Courier, monospace;
font-size: 12px;
font-weight: normal;
height: 18px;
letter-spacing: 0.55px;
width: 264px;
}

.box-text-header{
    color: rgb(13, 60, 200);
    font-family: Heebo-Regular;
    font-size: 24px;
    font-weight: normal;
    height: 35px;
    width: 166px;
}

.slds-box{
    border: none;
}