@media only screen and (max-width:800px)
{
    #header-right{
        display: none;
    }
    #side-navbar{
        display: none;
    }
    #desktop-card{
        display: none;
    }
.icon{
    display: block;
}
.slds-col{
    margin:10px 0;
}
.header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

.card-view_mobile{
    width:100%;
}

.card_data-item{
    widows: 14%;
    margin-left:0px;
}
.img-circle{
    height:80px !important;
    width:80px !important;
    border-radius: 50%;
}
}

.icon{
    display: none;
}

.img-circle{
    border-radius: 50%;
    height:30px;
    width:30px;
}

.side-navbar{
    background: linear-gradient(-45deg, rgb(239, 243, 248) 0%, rgb(231, 246, 255) 100%);
}

.sidenav-heading{
    color: rgb(0, 160, 255);
    font-family: Roboto-Medium;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1.17px;
    margin: 20px 0 0 0;
}

.sidenav-subheading
{
    color: rgb(48, 48, 48);
    font-family: Roboto-Medium;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    margin: 10px 0;
 
}

.sidenav-subheading:hover{
    border-left: 5px solid #00a0ff;
}


.card-view_mobile{
    width:100%;
}

.card_data-item{
    widows: 14%;
    margin-left:0px;
}
